name: Deploy to Azure Container Registry

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      
      - name: Build and push Docker image
        working-directory: ./src
        run: |
          docker build \
            --build-arg ENV_CONTENT="${{ secrets.ENV }}" \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:${{ github.sha }} \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:latest \
            .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:${{ github.sha }}
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:latest
